body {
    background-color: white;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: 85%;
    font-size: smaller;
    font-style: italic;
}

.deletions {
    color: rgb(147, 147, 147);
}

.metamark {
    position: absolute;
    top: 0px;
    right: 0px;
}

.pagenum {
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 50%;
}