body {
    background-color: #f3f0e8;
    margin: 0;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 25px;
}

.custom-container {
    padding-left: 5rem;
    padding-right: 5rem;
}

.transcription {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 0;
    margin-left: 0px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 100px;
}

.mirador {
    margin-bottom: 100px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: 85%;
    font-size: smaller;
    font-style: italic;
}

.deletions {
    color: rgb(147, 147, 147);
}

.metamark {
    position: absolute;
    top: 0px;
    right: 0px;
}

.pagenum {
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 50%;
}

.floatingText {
    position: absolute;
    top: 30px;
    right: 8px;
}

header {
    height: 275px;
    background-image: url("img/Cole_Thomas_The_Course_of_Empire_The_Savage_State_1836.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-title {
    color: #f3f0e8;
    font-size: 75px;
    margin: 0;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    line-height: 1;
}

.header-author {
    color: #f3f0e8;
    font-size: 18px;
    margin-top: 0.1em;
    font-family: "Vollkorn", serif;
    margin-bottom: 0;
}

.header-edition {
    color: #f3f0e8;
    font-size: 18px;
    font-family: "Vollkorn", serif;
    margin-top: 5px;
    font-style: italic;
}

.header-page {
    color: #f3f0e8;
    font-size: 50px;
    margin: 0;
    font-family: "Vollkorn", serif;
    padding-top: 10px;
    padding-bottom: 5px;
}

.navbar {
    width: 250px;
    margin-top: 2%;
    margin-left: 75%;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
 {
    color: #f3f0e8;
    font-family: "Vollkorn", serif;
    margin-left: 40px;
}

.dropdown-item {
    font-family: "Vollkorn", serif;
    color: #362715;
}

.desc {
    width: 100%;
    height: auto;
    background-color: #f3f0e8;
}

.desc-header {
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: bold;
    color: #362715;
    margin: 3% 20% 2% 22%;
}

.desc-text {
    font-size: 18px;
    font-family: "Vollkorn", serif;
    text-align: justify;
    color: #362715;
}

.p1 {
    margin: 5% 20% 0% 20%;
}

.p2 {
    margin: 0% 20% 5% 20%;
}

.author-info {
    width: 100%;
    background-color: #363a28;
    position: relative;
    display: flex;
}

.shelleys {
    width: 50%;
}

.shelleys h2 {
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: bold;
    color: #fff9e3;
    padding: 80px 100px 13px 100px;
}

.shelleys p {
    color: #fff9e3;
    font-size: 18px;
    font-family: "Vollkorn", serif;
    padding: 10px 80px 80px 80px;
    text-align: justify;
    margin-bottom: 0;
}

.portraits {
    width: 50%;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 60% 50%;
    transform: scale(1.7);
    transform-origin: 80% center;
    opacity: 0.7;
}

.portrait {
    position: relative;
    width: 300px;
    margin-right: 10px;
    margin-left: 10px;
}

.portrait:first-child {
    margin-right: 20px;
}

.portrait:last-child {
    margin-left: 20px;
}

.portrait img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #a3847a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Vollkorn", serif;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portrait:hover .overlay {
    opacity: 0.85;
}

.container-pages {
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 0% 10% 5% 10%;
}

.page {
    background-color: white;
    margin: 20px 10px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 4px 4px rgba(0,0,0,0.1);
    transition: box-shadow 0.1s ease;
}

.p3 {
    margin: 0% 20% 2% 20%;
}

.page img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
}

.page p{
    margin-top: 10px;
    margin-bottom: 0;
    font-family: "Vollkorn", serif;
    text-align: center;
}

.page:hover {
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    cursor: pointer;
}

footer {
    height: 100px;
    background-color: #363a28;
    text-align: center;
}

footer p {
    color: #fff9e3;
    font-family: "Vollkorn", serif;
    padding: 25px 0 25px 0
}

.page-header {
    font-family: "Vollkorn", serif;
    font-size: 24px;
    font-weight: bold;
    color: #362715;
    margin: 3% 0 2% 0;
}

.list {
    font-size: 16px;
    font-family: "Vollkorn", serif;
    color: #362715;
}

table, th, td {
    border: solid;
    border-width: 1px;
    border-color: #c9c4b4;
    font-size: 16px;
    font-family: "Vollkorn", serif;
    color: #362715;
}

th {
    font-weight: 400;
    padding-left: 40px;
    padding-right: 10px;
    text-align: right;
    background-color: hwb(16 48% 36% / 0.248);
}

td {
    padding-right: 10px;
    text-align: right;
}