body {
    background-color: #f3f0e8;
    margin: 0;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.supraAdd {
    vertical-align: 85%;
    font-size: smaller;
    font-style: italic;
}

.deletions {
    color: rgb(147, 147, 147);
}

.metamark {
    position: absolute;
    top: 0px;
    right: 0px;
}

.pagenum {
    padding: 5px 5px 5px 5px;
    border-style: solid;
    border-width: 1.5px;
    border-radius: 50%;
}

.header {
    width: 100%;
    height: 275px;
    background-image: url("img/Cole_Thomas_The_Course_of_Empire_The_Savage_State_1836.jpg");
    background-size: cover;
    background-position: top;
    display: flex;
    flex-direction: column;
    
    
    text-align: center;
}

.header-title {
    color: #f3f0e8;
    font-size: 75px;
    margin: 0;
    font-family: "Vollkorn", serif;
    font-weight: 400;
    line-height: 1;
}

.header-author {
    color: #f3f0e8;
    font-size: 18px;
    margin-top: 0.1em;
    font-family: "Vollkorn", serif;
}

.navbar {
    width: 15%;
    margin-top: 2%;
    margin-left: 80%;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus
 {
    color: #f3f0e8;
    font-family: "Vollkorn", serif;
    margin-left: 40px;
}

.dropdown-item {
    font-family: "Vollkorn", serif;
    color: #362715;
}